.nav {
    left: 20px;
    top: 30px;
    transform-origin: bottom left;
    transform: rotate(90deg) translateX(28px);
    list-style: none;
    text-transform: uppercase;
    display: flex;
    position: fixed;
    z-index: 1000;



    .nav_items {
        margin: 0 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .nav_link {
        display: flex;
        font-size: 1zpx;
        color: #565555;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        transition: .3s;
    }

}